html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="author" content="Chris McCormack")

        link(rel="stylesheet" type="text/css" href="./styles/styles.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")

        link(rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png")
        link(rel="manifest" href="/images/site.webmanifest")
        link(rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
    body
        header
            h1= header

        main
            section#example_usage
                span.section-title Example Usage
                pre /api/convert?input=4gal
                pre /api/convert?input=1/2km
                pre /api/convert?input=5.4/3lbs
                pre /api/convert?input=kg
            section#example_return
                span.section-title Example Return
                pre.
                    {
                        "initNum":3.1,
                        "initUnit":"mi",
                        "returnNum":4.98895,
                        "returnUnit":"km",
                        "string":"3.1 miles converts to 4.98895 kilometers"
                    }
            section#try_it
                span.section-title Try It Yourself!
                form#try_it_form
                    div.input-row
                        input#try_it_input(type="text" placeholder="3.1mi" name="input")
                    button.submit-btn(type="submit") Submit
                pre#try_it_output.hidden

script.
    document.getElementById('try_it_form').addEventListener('submit', e => {
        e.preventDefault()
        const input = document.getElementById('try_it_input').value
        const output = document.getElementById('try_it_output')

        fetch(`/api/convert?input=${input}`).then(res => res.text())
            .then(text => {
                try {
                    const data = JSON.parse(text)
                    output.textContent = JSON.stringify(data)
                        .replace('{', '{\n')
                        .replace(/,/g, ',\n')
                        .replace(/\n/g, '\n    ')
                        .replace('}', '\n}')
                } catch(err) {
                    output.textContent = text
                }
                output.classList.remove('hidden')
            })

    })